@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
}
.hidden-scrollbar::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
    width: 2px;
}
.hidden-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(143, 143, 143);
    border-radius: 50px;
}



